anyio==3.6.1
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
bleach
cffi==1.15.1
charset-normalizer==2.1.1
cryptography==38.0.4
debugpy
decorator==5.1.1
defusedxml==0.7.1
Django==3.2.16
django-allauth==0.51.0
django-bootstrap5
django-cors-headers
django-environ
django-rest-auth
django-rest-knox
djangorestframework
djangorestframework-jwt
entrypoints==0.4
fastjsonschema==2.16.2
idna==3.4
